body {
  font-family: roboto, sans-serif;
}

.header,
.about,
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo {
    border-radius: 50%;
    width: 5em;
    height: auto;
}

.about h2 {
  font-size: 48px;
}
.about p {
  font-size: 18px;
  color: #E5E7EB
}

.group {
    width: 35%;
    height: auto;
}

.the-doggos {
  text-align: center;
}
.the-doggos h2 {
  font-size: 36px;
  color: #1F2937
}
.dog {
  border: 5px solid #3882F6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}
.quote .text {
  font-size: 36px;
}

.sign-up {
  background-color: #3882F6;
  color: white;
}

button {
  color: white;
  background-color: #3882F7;
  border: 2px solid white;
  border-radius: 5px;
}
